In [1]:
import pandas as pd

# data = pd.read_csv('smsdata.csv')
df = pd.read_fwf('/home/yash/github/smsdata.txt')
df.head()

                                          sender,sms Unnamed: 1
0  IK-IDEA,DATA_CHRG:0.00 INR,Bal_Left=0.00 INR,V...        NaN
1  TX-GROFRS,Your Grofers order ORD096963480 has ...        NaN
2  ID-IDEA,CHRG:,main_cost Rs 0.000,Free Vol:0,VO...        NaN
3  BW-AxisBk,Hello! Your A/c no. 411263 has been ...        NaN
4  BW-AxisBk,Hello! Your A/c no. 411263 has been ...        NaN

In [2]:
df['sender'], df['sms'] = df['sender,sms'].str.split(',', 1).str
df['serviceProvider'], df['company'] = df['sender'].str.split('-', 1).str
df=df.drop(['sender,sms','sender','Unnamed: 1'],axis=1)
df.head()

                                                 sms serviceProvider company
0  DATA_CHRG:0.00 INR,Bal_Left=0.00 INR,Vol_Used:...              IK    IDEA
1  Your Grofers order ORD096963480 has been accep...              TX  GROFRS
2  CHRG:,main_cost Rs 0.000,Free Vol:0,VOL:2460.5...              ID    IDEA
3  Hello! Your A/c no. 411263 has been credited w...              BW  AxisBk
4  Hello! Your A/c no. 411263 has been credited w...              BW  AxisBk

In [3]:
df.shape
print df.tail(5)
# df.company=df.company.fillna(df.serviceProvider[2:])
# df.company=df.company[-4:]
# for row in df.iterrows():
#     if not row[1][2]:
#         row[1][2]=row[1][1][2:]
#         row[1][1]=row[1][1][:1]
df.company=df.company.fillna(df.serviceProvider[2:])
df.company=df.company.apply(lambda x: x[-6:] if len(x)>6 else x)
# df.company=df[df.serviceProvider[2:] if df.company.isnull() else df.company]
# if df.company.isnull():
#     df.company=df.serviceProvider[2:]
print df.head()
print df.tail(5)

                                                      sms serviceProvider  \
999995  Arin Chowdhury,Kelvin Patel has a question for...        AMMGCBRK
999996  Arin Chowdhury,Shree narasimha has a question ...        AMMGCBRK
999997  Arin Chowdhury,Venugopal Rao Basuti has a ques...        AMMGCBRK
999998  Arin Chowdhury,Pehal has a question for your p...        AMMGCBRK
999999  Arin Chowdhury,Bhaagyalakshmi Subramani has a ...        AMMGCBRK

       company
999995     NaN
999996     NaN
999997     NaN
999998     NaN
999999     NaN
                                                 sms serviceProvider company
0  DATA_CHRG:0.00 INR,Bal_Left=0.00 INR,Vol_Used:...              IK    IDEA
1  Your Grofers order ORD096963480 has been accep...              TX  GROFRS
2  CHRG:,main_cost Rs 0.000,Free Vol:0,VOL:2460.5...              ID    IDEA
3  Hello! Your A/c no. 411263 has been credited w...              BW  AxisBk
4  Hello! Your A/c no. 411263 has been credited w...              BW  AxisBk
                                                      sms serviceProvider  \
999995  Arin Chowdhury,Kelvin Patel has a question for...        AMMGCBRK
999996  Arin Chowdhury,Shree narasimha has a question ...        AMMGCBRK
999997  Arin Chowdhury,Venugopal Rao Basuti has a ques...        AMMGCBRK
999998  Arin Chowdhury,Pehal has a question for your p...        AMMGCBRK
999999  Arin Chowdhury,Bhaagyalakshmi Subramani has a ...        AMMGCBRK

       company
999995  MGCBRK
999996  MGCBRK
999997  MGCBRK
999998  MGCBRK
999999  MGCBRK

In [4]:
print df.serviceProvider.unique().shape
print df.company.unique().shape
companyList= df.company.unique()

(15179,)
(20904,)

In [5]:
#https://www.quora.com/What-is-the-meaning-of-DM-TA-LM-DZ-MD-etc-in-the-name-of-bulk-sms-sender

In [6]:
newlist=[]

import re
for x in companyList:
    if x:
        #print x
        if x.isdigit():
            newlist.append(x)

In [7]:
len(newlist)

6802

In [8]:
df.isnull().values.any()

False

In [9]:
#removing ads from the list
df = df[~df['company'].isin(newlist)]

In [10]:
print df.company.unique().shape

(14102,)

In [11]:
df.groupby(df['company'])['sms'].count().sort_values(ascending=False)

company
JioPay    78645
IDEA      54215
VFCARE    36707
HDFCBK    27707
ICICIB    16433
AxisBk    15780
PHONPE    13706
iPaytm    13206
IPAYTM    12522
KOTAKB    10988
JIONET    10343
Amazon     8673
BAJAJF     8602
ATMSBI     8182
MOBIKW     7663
BajajF     7097
SBICRD     6938
FLPKRT     6456
JIOINF     6448
CBSSBI     6304
JioSvc     5858
SBIINB     5145
SBIUPI     4995
charge     4924
CITIBK     4869
PNBSMS     4867
TFAROT     4817
AIRBNK     4795
PAYTMB     4743
PAYZAP     4663
          ...
PLOTLT        1
FUDATU        1
PLOTIN        1
PLOTCH        1
PLOTAF        1
FULJOY        1
FUNDAM        1
FSTTME        1
PMAWAS        1
PMawas        1
FSDHRY        1
FROMWP        1
PMYOJA        1
FRSHTM        1
FRSHUP        1
FRSTSP        1
PMYFLT        1
PMSPRO        1
FSAREE        1
FSFAdm        1
PMCARE        1
PMSMAX        1
PMRPYI        1
PMKKWL        1
FSRLTY        1
PMITRA        1
PMGNAY        1
PMCPRD        1
FSTCTY        1
 2-Let        1
Name: sms, Length: 14102, dtype: int64

In [15]:
ndf=df[df['sms'].str.contains(" due " | ' pay ')]
ndf.shape
ndf.company

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [13]:
print ndf

                                                      sms serviceProvider  \
248     Dear Customer , your AXIS Bank credit card XX ...              VM
348     Greetings, The SIP amount of Rs.2000 pertainin...              BW
378     Hello! Your Vodafone bill of Rs. 511.29 is due...              VD
413     Your DishTV connection is due for recharge! Gi...              VK
416     Dear Customer, your HDFC Bank Credit Card tran...              DM
527     Dear Customer, E-stmt for HDFCBank CreditCard ...              IM
574     Recharge of your VC No.01514204716 for 495 +15...              VK
619     Your Request 0000/00508/08366 has been rejecte...              VK
706     Dear Customer, please pay your bill for Rs.248...              IZ
737     Dear Customer, please pay your bill for Rs.248...              IZ
900     Dear Customer, E-stmt for HDFCBank CreditCard ...              IM
903     EPF Contribution of Rs. 7016 against UAN 10035...              VK
997     Dear Customer, E-stmt for HDFCBank CreditCard ...              RM
1004    Dont miss the due date. Filing Income Tax Retu...              VK
1006    Reminder! Today is the due date (extended) for...              DM
1011    DEAR CARDMEMBER,UR TITANIUM CREDIT CARD ENDING...              DZ
1054    Dear Customer, your Idea mobile bill for 21-JU...              Iz
1068    Your DishTV connection is due for recharge! Gi...              ID
1077    Your 26AS Statement for FY16-17 shows income r...              VM
1081    Recharge of your VC No.01514204716 for 482 +18...              VK
1095    EPF Contribution of Rs. 7016 against UAN 10035...              VM
1114    Your DishTV connection is due for recharge! Gi...              VM
1122    Dear Customer, E-stmt for HDFCBank CreditCard ...              IM
1129    Recharge of your VC No.01514204716 for 482 +18...              VM
1171    Your DishTV connection is due for recharge! Gi...              AD
1180    Dear Customer, your Idea mobile bill for 21-JU...              Iz
1856    Your next SIP installment is due on 10/06/2018...              AD
1871    Dear Customer, Recieved Rs 4043.0 towards Bill...              IM
1873    Greetings! EMI of Rs.3,359/- for Loan 4010PL21...              IM
1887    Dear Customer, EMI of Rs. 76395 for your Loan#...              VK
...                                                   ...             ...
997133  Dear Subscriber, Please be appraised that our ...              VK
997267  Greetings, The SIP amount of Rs.2000 pertainin...              BW
997546  Dear customer, your request could not be proce...              TL
997582  SIP installment of Rs 1000 in ABSL Frontline E...              HP
997827  SIP installment of Rs 1000 in ABSL Frontline E...              HP
997924  SIP installment of Rs 1000 in ABSL Frontline E...              VM
998063  SIP installment of Rs 1000 in ABSL Frontline E...              VK
998227  SIP installment of Rs 1000 in ABSL Frontline E...              HP
998364  SIP installment of Rs 1000 in ABSL Frontline E...              VM
998555  SIP installment of Rs 1000 in ABSL Frontline E...              DM
998872  Dear Consumer, your bill of Rs. 485.00 due on ...              AX
998873  Dear Consumer, your bill of Rs. 413.00 due on ...              AX
998874  Dear Consumer, your bill of Rs. 298.00 due on ...              AX
999213  Greetings! EMI of Rs.1,875/- for Loan 410SCE60...              VM
999214  Greetings! EMI of Rs.6,199/- for Loan 410DPF65...              VM
999247  Greetings! EMI of Rs.6,199 for loan a/c no.410...              VK
999248  Greetings! EMI of Rs.1,875 for loan a/c no.410...              VM
999512  Greetings! EMI of Rs.1,875/- for Loan 410SCE60...              VM
999513  Greetings! EMI of Rs.6,199/- for Loan 410DPF65...              VK
999575  Greetings! EMI of Rs.1,875 for loan a/c no.410...              VM
999579  First EMI of Rs.6,199 for loan a/c no.410DPF65...              VM
999691  We regret to inform you that your 456 eDGE Loy...              VM
999712  Dear Customer, Your Ticket no- 1001173243 has ...              TK
999727  Dear Customer,Periodic Service of your vehicle...              VK
999742  Axis eDGE Rewards: Your 456 Axis eDGE Reward p...              VK
999852  Greetings! EMI of Rs.1,875/- for Loan 410SCE60...              VM
999858  Greetings! EMI of Rs.1,875 for loan a/c no.410...              VK
999868  Greeting ! We request you to kindly ignore the...              VM
999872  First EMI of Rs.1,875 for loan a/c no.410SCE60...              VM
999965   Congrats on your new phone! Now, secure yours...              DM

       company
248     AxisBK
348     IPRUMF
378     VFCARE
413     DishTV
416     HDFCBK
527     HDFCBK
574     DishTV
619     ADHAAR
706       IDEA
737       IDEA
900     HDFCBK
903     EPFOHO
997     HDFCBK
1004    TaxSml
1006    TaxSml
1011    HDFCBK
1054      idea
1068    DishTV
1077    ITDEFL
1081    DishTV
1095    EPFOHO
1114    DishTV
1122    HDFCBK
1129    DishTV
1171    DishTV
1180      idea
1856    BPFund
1871    UPPCLT
1873    BAJAJF
1887    FICCLT
...        ...
997133  HATHWY
997267  IPRUMF
997546  FedBnk
997582  ABCINV
997827  ABCINV
997924  ABCINV
998063  ABCINV
998227  ABCINV
998364  ABCINV
998555  BSLAMC
998872  BESCOM
998873  BESCOM
998874  BESCOM
999213  BAJAJF
999214  BAJAJF
999247  BAJAJF
999248  BAJAJF
999512  BAJAJF
999513  BAJAJF
999575  BAJAJF
999579  BAJAJF
999691  AxisBk
999712  IFBCRM
999727  MSILDL
999742  AxisBk
999852  BAJAJF
999858  BAJAJF
999868  BAJAJF
999872  BAJAJF
999965  iPaytm

[16531 rows x 3 columns]

In [ ]:
6th Apr 2018

In [ ]:
Rs. 538.14