In [1]:
import pandas as pd

# data = pd.read_csv('smsdata.csv')
df = pd.read_fwf('smsdata.txt')
df.head()

                                          sender,sms Unnamed: 1
0  IK-IDEA,DATA_CHRG:0.00 INR,Bal_Left=0.00 INR,V...        NaN
1  TX-GROFRS,Your Grofers order ORD096963480 has ...        NaN
2  ID-IDEA,CHRG:,main_cost Rs 0.000,Free Vol:0,VO...        NaN
3  BW-AxisBk,Hello! Your A/c no. 411263 has been ...        NaN
4  BW-AxisBk,Hello! Your A/c no. 411263 has been ...        NaN

In [2]:
df['sender'], df['sms'] = df['sender,sms'].str.split(',', 1).str
df['serviceProvider'], df['company'] = df['sender'].str.split('-', 1).str
df=df.drop(['sender,sms','sender','Unnamed: 1'],axis=1)
df.head()

                                                 sms serviceProvider company
0  DATA_CHRG:0.00 INR,Bal_Left=0.00 INR,Vol_Used:...              IK    IDEA
1  Your Grofers order ORD096963480 has been accep...              TX  GROFRS
2  CHRG:,main_cost Rs 0.000,Free Vol:0,VOL:2460.5...              ID    IDEA
3  Hello! Your A/c no. 411263 has been credited w...              BW  AxisBk
4  Hello! Your A/c no. 411263 has been credited w...              BW  AxisBk

In [18]:
df.shape
print df.tail(5)
# df.company=df.company.fillna(df.serviceProvider[2:])
# df.company=df.company[-4:]
# for row in df.iterrows():
#     if not row[1][2]:
#         row[1][2]=row[1][1][2:]
#         row[1][1]=row[1][1][:1]
df.company=df[df.serviceProvider[2:] if df.company.isnull() else df.company]
# if df.company.isnull():
#     df.company=df.serviceProvider[2:]
print df.head()
print df.tail(5)

                                                      sms serviceProvider  \
999995  Arin Chowdhury,Kelvin Patel has a question for...        AMMGCBRK
999996  Arin Chowdhury,Shree narasimha has a question ...        AMMGCBRK
999997  Arin Chowdhury,Venugopal Rao Basuti has a ques...        AMMGCBRK
999998  Arin Chowdhury,Pehal has a question for your p...        AMMGCBRK
999999  Arin Chowdhury,Bhaagyalakshmi Subramani has a ...        AMMGCBRK

       company
999995     NaN
999996     NaN
999997     NaN
999998     NaN
999999     NaN

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
print df.serviceProvider.unique().shape
companyList= df.company.unique()

(15179,)

In [17]:
#https://www.quora.com/What-is-the-meaning-of-DM-TA-LM-DZ-MD-etc-in-the-name-of-bulk-sms-sender

In [26]:
newlist=[]


import re
for x in companyList:
    if x:
        #print x
        if x.isdigit():
            newlist.append(x)

In [25]:
len(newlist)

0

In [27]:
df.isnull().values.any()

True

In [ ]:
print df.loc[]